# Inladen packages  & dataset

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

df=pd.read_excel("Complete-dataset.xlsx")

In [4]:
df.head()

,Method name,N (no. labs),Mean,Bias,CV,Sample,Reference Value,Year,Source (CAP/EurA1c),Type (Fresh/frozen),Manufacturer,Total Error
0,(Ortho Clin Diag) Vitros 5.1 FS Chem System,183,6.14,-0.16,2.3,GH2-04,6.3,2011,CAP,Fresh,Vitros,4.508
1,(Ortho Clin Diag) Vitros 5.1 FS Chem System,183,7.59,-0.01,2.5,GH2-05,7.6,2011,CAP,Fresh,Vitros,4.900
2,(Ortho Clin Diag) Vitros 5.1 FS Chem System,183,9.42,0.22,3,GH2-06,9.2,2011,CAP,Fresh,Vitros,5.880
3,(Ortho Clin Diag) Vitros 5.1 FS Chem System,210,5.42,-0.18,2.3,GH2-01,5.6,2012,CAP,Fresh,Vitros,4.508
4,(Ortho Clin Diag) Vitros 5.1 FS Chem System,210,9.34,-0.06,2.6,GH2-02,9.4,2012,CAP,Fresh,Vitros,5.096

# Business understanding

Deelvraag: Hoe verandert een merk over de jaren heen? (voorspelling total error)


Voor het Isala ziekenhuis is het van belang om inzicht te hebben hoe verschillende metingen worden uitgevoerd. Door voorspellingen te doen, zou het Isala ziekenhuis tijdig kunnen ingrijpen. Doordat sommige meetmehodes maar één keer in het rapport voorkomen, focussen we ons eerst op de fabrikant.


# Data understanding
Welke databronnen zijn gegeven en in welk formaat:
Een excel bestand genaamd: Complete-dataset.xlsx

Hoe groot zijn deze databronnen:
291 kB

-4684 rows

-12 cols

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4684 entries, 0 to 4683
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Method name          4684 non-null   object
 1   N (no. labs)         4684 non-null   object
 2   Mean                 4604 non-null   object
 3   Bias                 4060 non-null   object
 4   CV                   4586 non-null   object
 5   Sample               4684 non-null   object
 6   Reference Value      4656 non-null   float64
 7   Year                 4684 non-null   int64
 8   Source (CAP/EurA1c)  4684 non-null   object
 9   Type (Fresh/frozen)  4684 non-null   object
 10  Manufacturer         4684 non-null   object
 11  Total Error          4682 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 439.2+ KB

In [9]:
df.isna().sum()
#Bias, CV? Leeg -> Geen total error

Method name              0
N (no. labs)             0
Mean                    80
Bias                   624
CV                      98
Sample                   0
Reference Value         28
Year                     0
Source (CAP/EurA1c)      0
Type (Fresh/frozen)      0
Manufacturer             0
Total Error              2
dtype: int64

In [8]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Reference Value,4656.0,7.361971,1.864492,4.92,5.80,7.100,8.65,13.000
Year,4684.0,2015.568531,4.261448,2006.00,2013.00,2017.000,2019.00,2021.000
Total Error,4682.0,5.759066,2.980117,0.00,3.92,5.096,6.86,28.216